apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

patches:
  - target:
      kind: HelmRelease
      name: external-dns
    patch: |
      - op: add
        path: /spec/values/extraArgs/-
        value: --exclude-target-net=10.0.0.0/16
