# TODO: Move to ListernerSets when those get Promoted to GA
# Resources:
# - https://gateway-api.sigs.k8s.io/geps/gep-1713/
# - https://github.com/kubernetes-sigs/gateway-api/issues/1713

apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: shared-gateway
spec:
  gatewayClassName: default
  allowedListeners:
    namespaces:
      from: Selector
      selector:
        matchLabels:
          gateway.k8s.rbn.is/attach-listener: "true"
  listeners:
    - name: http
      protocol: HTTP
      port: 80
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            matchLabels:
              gateway.k8s.rbn.is/attach-route: "true"
    - name: https
      protocol: HTTPS
      port: 443
      tls:
        certificateRefs:
          - kind: Secret
            name: wildcard-rbn-is
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            matchLabels:
              gateway.k8s.rbn.is/attach-route: "true"
