apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - httproute.yaml

patches:
  - target:
      kind: Namespace
    patch: |
      - op: add
        path: /metadata/labels/shared-gateway-access
        value: "true"
